<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dwb.ruyou.tvhall">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- 这里要设置touchscreen为false，即TV app 不需要触摸。 -->
    <!-- <uses-feature -->
    <!-- android:name="android.hardware.touchscreen" -->
    <!-- android:required="false" /> -->
    <!-- 设置依赖leanback库相关。 -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:name=".application.TVHallApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyStyle">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.RecommendActivity" />
        <activity android:name=".ui.LiveShowActivity" />
        <activity android:name=".ui.GameActivity" />
        <activity android:name=".ui.ClassifiedActivity" />
        <activity android:name=".ui.GameDetailActivity" />
        <activity android:name=".ui.PersonalCenterActivity" />
        <activity android:name=".ui.SearchActivity" />
        <activity android:name=".ui.ClassifiedDetailActivity" />
        <activity android:name=".ui.PayChenterActivity"></activity>
    </application>

</manifest>